<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
    <li *ngFor="let item of routerNavigation"
        role="presentation" routerLinkActive="active">
      <a [routerLink]="item.path" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw" [ngClass]="item.icon"></i>&nbsp;{{ item.title }}
      </a>
      <div class="nested-menu" *ngIf="item.children">
        <a class="list-group-item" (click)="addExpandClass('pages')">
          <span><i class="fa fa-plus"></i>&nbsp; item.title }}</span>
        </a>
      </div>
    </li>
  </ul>
</nav>
