<mat-card>
  <mat-card-title>Your Profile</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" spellcheck="false">
      <fieldset>
        <legend>Change your Password</legend>
        <mat-form-field appearance="legacy">
          <mat-label>Old Password</mat-label>
          <input matInput type="password" placeholder="old" formControlName="oldPassword">
          <mat-error>
            Please provide your old password
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>New Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="newPassword">
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Confirm New Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="newPasswordRepeat">
          <mat-error>
            Please type the same password again
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Change</button>
        <div *ngIf="formSubmitAttempt">Changing password...</div>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="errors" role="alert" color="red">
  <mat-card-title>An error occured</mat-card-title>
  {{errors|json}}
</mat-card>
