<mat-card>
  <mat-card-title>Logon</mat-card-title>
  <mat-card-content>
    <mat-list *ngIf="providers">
      <mat-list-item *ngFor="let provider of providers">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine> {{provider.name}} </h3>
        <p matLine>
          <span> {{provider.displayname}} </span>
        </p>
      </mat-list-item>
    </mat-list>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" spellcheck="false">
      <mat-error *ngIf="loginInvalid">
        The username or password were not recognised
      </mat-error>
      <mat-form-field appearance="legacy">
        <mat-label>User Name (eMail)</mat-label>
        <input matInput placeholder="Email" formControlName="userName">
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
      <div *ngIf="formSubmitAttempt">Logging in...</div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="error" role="alert" color="red">
  <mat-card-title>An error occured</mat-card-title>
  {{errors|json}}  
</mat-card>
