<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-block">

        <h4>Login</h4>

        <form #f="ngForm" novalidate (ngSubmit)="login(f)">

          <div class="form-group">
            <label for="userName">Username (eMail)</label>
            <input id="userName" type="email" required name="userName" [ngModel] #email="ngModel" tmFocus validateEmail class="form-control"
                   placeholder="Email">

            <small *ngIf="f.userName" [hidden]="f.userName.valid || (f.userName.pristine && !submitted)" class="text-danger">
              Please enter a valid email
            </small>

          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>

            <small *ngIf="f.password" [hidden]="f.password.valid || (f.password.pristine && !submitted)" class="text-danger">
              Please enter a password
            </small>

          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Login</button>
            <div *ngIf="isRequesting">Logging in...</div>
          </div>

          <div *ngIf="errors" class="alert alert-danger" role="alert">
            <strong>An error occured:</strong> {{errors}}
          </div>
        </form>

      </div>
    </div>
  </div>
</div>