<h1>Professional App Foundation</h1>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngIf="!isLoggedIn"
     routerLink="/login"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Login
  </a>
  <a mat-tab-link
     *ngIf="isLoggedIn"
     routerLink="/logout"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Logout
  </a>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<a routerLink='/admin'>Administration</a>
<span class="pull-right" *ngIf="isLoggedIn">Welcome, {{ userName }}</span>
<router-outlet></router-outlet>

