<h1>Angular & ASP.NET Core Demo App</h1>
<a routerLink='/login' *ngIf="!isLoggedIn">Login</a> <span *ngIf="!isLoggedIn"> | </span>
<a routerLink='/logout' *ngIf="isLoggedIn">Logout</a> <span *ngIf="isLoggedIn"> | </span>
<a routerLink='/register'>Register</a> |
<a routerLink='/dashboard'>Dashboard</a> |
<a routerLink='/info'>Info</a> |
<a routerLink='/admin'>Administration</a>
<span class="pull-right" *ngIf="isLoggedIn">Welcome, {{ userName }}</span>
<hr />
<section class="main-container">
  <router-outlet></router-outlet>
</section>
