button {

  .ac-supersmall {
    width: 16px;
    height: 16px;
    border-radius: 0;
    padding: 1px;
    border: 0px;

    i {
      font-size: 0.8em;
    }
  }
}

div.ac-sortsmall {
  width: 18px;
  height: 34px;
  float: right;
  line-height: 0px;
  margin: -5px;
}
