<div class="row">
  <div class="col-sm-12 col-md-6 text-xs-center">
    <div class="card">
      <div class="card-header card-primary">
        I'am Number {{ someProp }}
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-4 offset-1"></div>
          <div class="col-4 someborder">
             Upper Chart
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-1 someborder">
             Left Chart
          </div>
          <div class="col-4 someborder">
             Plot Area
             <canvas #plotarea class="plotarea" width="150" height="90"></canvas>
          </div>
          <div class="col-2 offset-1 someborder">
            Legend
          </div>
        </div>
        <br />
        <input type="text" [(ngModel)]="currentValue" />
      </div>
    </div>
  </div>
</div>